.storage-bank {
  .container {
    padding: 75px 70px;
    background-color: #fde8f5;
    border-radius: 50px;
    display: flex;
    gap: 130px;
    .photo {
      &__data {
        width: 400px;
        height: 410px;
        background-image: url(../img/data-storage.png);
      }
    }
    .text {
      padding: 35px 0;
      h2 {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 1210px) {
  .storage-bank {
    margin-top: 100px;
    padding: 20px;
    .container {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      .photo {
        &__data {
        }
      }
      .text {
        h2 {
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .storage-bank {
    .container {
      .photo {
        &__data {
          transform: scale(0.6);
        }
      }
      .text {
        h2 {
        }
      }
    }
  }
}
